.bookCover {
  height: 300px;
  width: auto;
  margin-bottom: 1rem;
}

.bookTitle {
  font-size: 1rem;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}
